@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: #EEF9BF;
}

.titulo {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    color: #75B79E;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 65.63px;
    letter-spacing: -0.4%;
}

.cartas {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.carta {
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    border-color: #99CEA8;
    margin: 15px;
    justify-content: center;
    position: relative;
    perspective: 1000px; 
    transition: all 1s;
    transform-style: preserve-3d;
}
.carta:active{
    transform: rotateY(180deg); 
}

.carta div {
    width: 100%;
    height: 100%;
    transition: all 1s;
    justify-content: center;
    position: absolute;
    transform-style: preserve-3d;
}

.carta div:active {
    transform: rotateY(180deg); 
}

.carta img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 5px;
    backface-visibility: hidden; 
}

.carta img.front {
    transform: rotateY(180deg); 
}
